doctype html
html(lang='en')
  head
    title Test Project
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
  body
    h1 Test project
    section#main-container
    
    script(type='application/javascript', src='app.js')
